@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

h1 {
    margin-top: 20px;
    padding: 15px;
    text-align: center;
    font-weight: 600;
}

h2 {
    margin-top: 20px;
    text-align: center;
}

li, a {
    font-weight: 500;
    font-size: 18px;
    color:  #24252A;
    text-decoration: none;
}

button { 
    font-weight: 500;
    font-size: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 16%;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.2);
    width: 100%;
    background-color: #fff;
    z-index: 1;
    position: relative;
    top: 0;
}

.logo {
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

.logo:hover {
    transform: scale3d(1.1, 1.1, 1);
    transition: all 0.5s ease 0s;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
    transition: all 0.6s ease 0s;   
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li:hover {
    transition: all 0.2s ease 0s;
    transform: scale3d(1.03, 1.03, 1);
}

.nav-links li a:hover {
    color: #c1a065;
}

.btn-contact {
    padding: 9px 25px;
    background-color: #c1a065;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.btn-contact:hover {
    background-color: rgba(193, 160, 101, 0.8);
    transition: all 0.5s ease 0s;
    transform: scale3d(1.1, 1.1, 10);
}

.main-home-area {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
    margin-bottom: 20px;
    height: 800px;
}

.main-home-img {
    height: 800px;
    width: 100%;
    background-image: url('img/cows.png');
}

.main-home-area h1, p {
    text-align: center;
    color: #ffff;
}

.main-home-area h1 {
    padding-top: 170px;
    font-size: 3em;
    margin-bottom: 10px;
    margin-top: 80px;
}

.main-home-area p {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 50px;
}   

.more-about-btn {
    padding: 8px 19px;
    background-color: #222;
    color: #f7f7f7;
    width: fit-content;   
    cursor: pointer;
    border: none;
    border-radius: 2.5rem;
    transition: all 0.3s ease 0s;
    font-size: 20px;
    margin: 0 auto;
}
.more-about-btn:hover {
    background-color: #e0e0e0;
    color: #000000;
}

/********** HOME PAGE ***********/
.body-content {
    text-align: center;
    margin-bottom: 30px;
}

.body-content-divs {
    text-align: center;
    margin-bottom: 5rem;
}

.main-content li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
}

.main-content img {
    margin: 20px 20px 0px 20px;
    width: 170px;
    height: 200px;
}

.main-content-text {
    color: #000;
    text-align: justify;
    max-width: 45rem;
}

.home-img {
    transition: all 0.3s ease 0s;
    border-radius: 12px;
}

.home-img:hover {
    transition: all 0.5s ease 0s;
    transform: scale3d(1.1, 1.1, 10);
}

/******* ITENS PAGE ***********/
.body-item-content {
    text-align: center;
    margin-bottom: 30px;
}

.body-item-content-divs {
    text-align: center;
    margin-bottom: 7rem;
}

.body-content-text {
    color: #000;
    text-align: justify;
    max-width: 45rem;
}

.body-content-img {
    margin: 20px 0px 0px 20px;
    width: 20rem;
    border-radius: 1rem;
}

.body-item-content-ul {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
}

.body-item-content-ul h2 {
    padding-bottom: 2.5rem;
}

.body-item-content-ul li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
}

/********** PRODUTOS ***********/
.products-list {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    vertical-align: middle;
    height: 100%;
    margin: auto;
}

.card {
    width: 350px;
    height: 550px;
    margin: 25px;
    background-color: #fff;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
    transition: 0.3s;
}

.card:hover {
    transform: scale3d(1.05, 1.05, 1);
    transition: all 0.5s ease 0s;
}

.card-header {
    width: auto;
    height: 450px;
    overflow: hidden;
}

.card-img {
    border-radius: 1.6rem;
    padding: 15px;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease 0s;
}


.card-body {
    text-align: center;
    font-family: sans-serif;
}

.card-title {
    font-size: 34px;
    margin: 10px 0;
}

.card-text {
    padding: 2px;
    color: #000;
}

.scrollTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 10px 15px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    border-radius: 1px solid #fff;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

.scrollTop:hover {
    background-color: #f7f7f7;
    color: #000;
}

/***********  CONTATO *************/
.contact-area {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.contact-align {
    display: inline-block;
    margin-left: 30px;
    transform: translateY(5%);
}

.topic {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

.info {
    margin-bottom: 25px;
}

.phone {
    display: flex;
}

.infos-area {
    transform: translateY(-35%);
}

input, textarea {
    box-sizing: border-box;
    padding: 12px 20px;
    margin-top: 15px;
    margin-bottom: 8px;
    width: 400px;
    font-size: 16px;
    border-radius: .5rem;
    resize: none;
}

.msg {
    font-size: 18px;
    font-weight: 400;
}

.btn-send {
    padding: 9px 25px;
    background-color: #000000;
    color: #f7f7f7;
    width: 150px;
    border: none;
    cursor: pointer;
    border-radius: 2.5rem;
    transition: all 0.3s ease 0s;
    display: flex;
    justify-content: center;
    margin-left: 7.8rem;
}

.btn-send:hover {
    background-color: #e0e0e0;
    color: #000000;
}

.btn-send-whatsapp {
    color: #f7f7f7;
    width: 26px;
    margin-left: .4rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.btn-send-whatsapp:hover {
    color: #c7c7c7;
    transform: scale(1.1);
}

/********** FOOTER ***********/
.footer {
    color: #f7f7f7;
    text-align: center;
    background-color: #24252A;
    height: 100px;
    width: 100%;
    padding: 40px;
    bottom: 0;
}

.footer-position {
    position: absolute;
}

.description{
    position:relative;
    font-size: 18px;
    font-family: 'Poppins';
    text-align: justify; 
    top: -460px;
    padding:29px;
    line-height:25px;
    background: black;
    color:white;
    display: block;
    border-radius: 15px;
    height: 450px;
    width: 100%;
    opacity: 0%;
}

.card:hover .description {
    opacity: 80%;
}